@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap");

/* Standard Sizing */
body {
  font-family: "Kaisei Tokumin", serif;
  background-color: #b0e298;
  color: #000;
}

h1,
h4 {
  font-size: 50px;
}

p {
  font-size: 26px;
}
/* Mobile sizing */
@media (max-width: 450px) {
  h1,
  h4 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  body {
    background-color: #3d3b8e;
    color: #fff;
  }
}
