@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap");

/* Standard size formatting */
body {
  font-family: "Kaisei Tokumin", serif;
  background-color: #b0e298;
  color: #000;
}

h1,
h4 {
  font-size: 50px;
}

p {
  font-size: 26px;
}

/* Mobile size formatting */
@media (max-width: 450px) {
  h1,
  h4 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  body {
    background-color: #3d3b8e;
    color: #fff;
  }
}

/* Grid Styling */
@media (min-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-rows: 350px 300px;
    align-items: center;
    justify-content: center;
  }
}

/* Top Page Grid */
h3 {
  grid-column-start: 1;
}

.pizza-img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  width: 80%;
  height: 60%;
}

/* Bottom Page Grid */
.cheesey-facts {
  grid-row-start: 1;
}

.my-pizza-toppings {
  grid-column-start: 2;
  grid-row-start: 1;
}

.dancing-pizza {
  grid-column-start: 2;
  grid-row-start: 2;
}
